
* {
  font-family: 'Germania One', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #AE151C;
}

.logo {
  margin-left: 20px;
}

nav {
  background: #AE151C;
  height: 80px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 20;
  padding: 10px;
  margin: auto;
  border: auto;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  font-size: 25px;
  padding: 7px 13px;
  border-radius: 3px;
}

.checkbtn {
  font-size: 30px;
  color: #f4f4f4;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

a.active, a:hover {
  color: #FABD00;
  text-shadow: #000000 0px 0px 2px;
  transition: .5s;
}

/*End of Nav*/
/*Home page*/
.hp-container {
  position: relative;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border: 15px;
}

.homepage {
  height: auto;
  max-width: 100%;
}

.center {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.center, .h1 {
  font-size: 70px;
  text-shadow: #000000 0px 0px 2px;
  padding: 8px 8px 8px 8px;
  font-color: #f4f4f4;
  background-color: #AE151C;
}

.main-button {
  text-decoration: none;
  color: #f4f4f4;
  border-radius: 8px;
}

.open-button:hover button {
  display: none;
}

/*End of Home page*/
/*.heading, .h2 {*/
/*border-top: 5px ridge #f4f4f4;
  border-top: 5px ridge #f4f4f4;
  border-bottom: 5px ridge #f4f4f4;
  border-radius: 5px;
  padding: 15px;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
}*/
/*Heading*/
.border {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  border: 8px solid;
  padding: 1rem;
}

.sides {
  border-image: linear-gradient(to left, #f4f4f4, #f4f4f4) 1 0;
}

/*Ending of heading*/
/*Tablet Projects*/
section {
  display: flex;
  flex-flow: row wrap;
}

article {
  margin: 10px;
  flex: 1 300px;
  align-items: space-between;
}

article:nth-child(2), article:nth-child(4) {
  flex: 1 300px;
}

/*.project-container {
  margin: 10px;
  padding: 10px;
}*/

/*.project-container {
  margin: 70px;
  padding: 70px;
}*/

.project-container {
  margin: 100px;
  padding: 80px;
}

.project {
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project, h4, p {
  margin: 8px;
}

.project, h4 {
  font-size: 25px;
}

.project, p {
  font-size: 20px;
}

.project-btn {
  margin-top: 20px;
  margin-left: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-btn {
  margin-top: 20px;
  margin-left: 8px;
}

.code-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  /*flex: 1 auto;*/
}

.demo-btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
 /* flex: 1 auto;*/
}

.code-btn:hover {
  background: #FABD00;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  font-transition: .5s;
}

.demo-btn:hover {
  background: #d81d25;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  font-transition: .5s;
}

/*Mobile Projects end*/
/*About me*/
.bio {
  margin-top: 25px;
  font-size: 16px;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  text-align: left;
}

.social {
  color: #f4f4f4;
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  text-align: left;
}

.social, a {
  text-decoration: none;
}

/*About me end*/
/*Contact me*/
form {
  /*max-width: 420px;*/
  max-width: 700px;
  margin: 50px auto;
}

.feedback-input {
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #f4f4f4;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input {
  border: 2px solid #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 100%;
  background: #d81d25;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  text-shadow: #000000 0px 0px 2px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type="submit"]:hover {
  background: #FABD00;
}

/*Contact End*/
/*Footer*/
.footer {
  font-size: 25px;
  margin-top: 25px;
}

.social-footer {
  color: #f4f4f4;
  font-size: 30px;
  padding: 5px;
  margin-top: 15px;
  border-radius: 50%;
  text-align: center;
}

.border-footer {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 50px;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
  border-top: 8px solid;
  padding: 1rem;
}

.sides-footer {
  border-image: linear-gradient(to left, #f4f4f4, #f4f4f4) 1 0;
}

/*.social:hover {
  opacity: 0.7;
}*/
/*a.active, .code-btn a:hover {
  color: #d81d25;
  transition: .5s;
}*/
/*.heading, .h2 {
  border: 5px ridge #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 50px;
  color: #f4f4f4;
  text-shadow: #000000 0px 0px 2px;
}*/

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #AE151C;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover, a.active {
    background: none;
    color: #FABD00;
  }

  #check:checked~ul {
    left: 0;
  }
}

/*Nest Hub*/
/*Needs more work to it*?/
@media (max-width: 1030px) {
  .center, .h1 {
    font-size: 40px;
  }

  .center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Surface*/
@media (max-width: 920px) {
  .center, .h1 {
    font-size: 45px;
  }

  .center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Ipad*/
@media (max-width: 830px) {
  .center, .h1 {
    font-size: 40px;
  }

  .center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Ipad pro*/
@media (max-width: 1050px) {
  .center, .h1 {
    font-size: 40px;
  }

  .center {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*Ipad*/
@media (max-width: 1000px) {
  .project-container {
    margin: 10px;
    padding: 20px;
  }

}

/*Ipad pro 800px*/
@media (max-width: 980px) {
  .project-container {
    margin: 20px;
    padding: 20px;
  }

}

@media (max-width: 800px) {
  .project-container {
    margin: 10px;
    padding: 10px;
  }

  .center, .h1 {
    font-size: 40px;
  }

  .center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*

/*Mobile*/
@media (max-width: 500px) {
  .center, .h1 {
    font-size: 30px;
  }

  .center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



@media (max-width: 600px) {
  section {
    display: block;
  }

  article {
    display: block;
  }

  .project-container {
    margin: 10px;
    padding: 10px;
  }

  .project {
    color: #f4f4f4;
    text-shadow: #000000 0px 0px 2px;
  }

  .project, h4, p {
    margin: 8px;
  }

  .project, h4 {
    font-size: 20px;
  }

  .project, p {
    font-size: 16px;
  }

  .project-btn {
    margin-top: 20px;
    margin-left: 8px;
  }

  .code-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .demo-btn {
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .code-btn:hover {
    background: #FABD00;
    color: #f4f4f4;
    text-shadow: #000000 0px 0px 2px;
    font-transition: .5s;
  }

  .demo-btn:hover {
    background: #d81d25;
    color: #f4f4f4;
    text-shadow: #000000 0px 0px 2px;
    font-transition: .5s;
  }

  .border-project {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    color: #f4f4f4;
    text-shadow: #000000 0px 0px 2px;
    border-top: 8px solid;
    padding: 1rem;
  }

  .sides-project {
    border-image: linear-gradient(to left, #f4f4f4, #f4f4f4) 1 0;
  }

}
